# Data Science Tools and Ecosystem

## Author
Rhea Singh

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for data science

- List commonly used libraries in data science

- Show examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries in data science include

1. MatPlotLib
2. Numpy
3. Pandas
4. SciPy

|Data Science Tools|
|---------|
|Jupyter|
|R Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expression in Python

In [3]:
(3*4)+5
#this is a simple arithmetic expression to multiply then add integers

17

In [6]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335